#portfolio-list{
  .list{
    margin: 15px auto 0;
    a,img{
      display: block;
    }
    li{
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
  footer{
    padding: 100px 0;
    img{
      max-width: 1000px;
      width: 100%;
    }
  }
}
@media only screen and (max-width: 750px) {
  .list{
    margin-top: 0!important;
  }
  footer{
    display: none;
  }
}
