<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }} - Blog | Cobbble</title>
  <meta name="description" content="{{.Description}}"/>
  <meta name="force-rendering" content="webkit">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover">
  <link rel="shortcut icon" href="https://cdn.chelme.com/favicon.ico">
</head>
<body>
  <header>
    <div class="wrap-header clearfix">
      <a href="/"><img src="../../image/logo-cobbble-color.png" alt="cobbble" class="logo"></a>
      <ul class="nav">
        <li><a href="/">HOME</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/portfolio">WORK</a></li>
      </ul>
      <ul class="social">
        <li><a href="https://dribbble.com/chelme" target="_blank"><img src="../../image/icon-dribbble-w.png" alt="dribbble"></a></li>
        <li><a href="https://www.instagram.com/chelmecici/" target="_blank"><img src="../../image/icon-ins-w.png" alt="instagram"></a></li>
      </ul>
    </div>
  </header>
  <div class="wrap">
    <div class="meta-date">
      <a href="/blog">Chelme</a>
      <span class="flag">/</span>
      <time datetime="{{.Date.Format "2006-01-02"}}">{{ .Date.Format "2 January 2006" | safeHTML }}</time>
      {{if .Params.tags }}
        <span class="flag">/</span>
        {{ range $index, $tag := .Params.tags }}
          {{if lt $index 2}}
            <a href="{{$.Site.BaseURL}}/tags/{{ $tag | urlize }}/">#{{$tag}}</a>
          {{end}}
        {{end}}
      {{ end }}
    </div>
    <h1 id="title">{{ .Title }}</h1>
    <h2 id="sub-title">{{ .Description }}</h2>
    {{if .Params.cover}}
    <img src="{{.Params.cover}}" alt="封面" id="cover">
      <!-- <div id="cover" style="background-image: url({{.Params.cover | absURL}})"></div> -->
    {{end}}
    <article id="content">
      {{ .Content }}
    </article>
  </div>
  <!-- <aside id="meta">
    <div>
    <section>
      <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
    </section>
    {{ with .Params.topics }}
    <ul id="topics">
      {{ range . }}
        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    {{ with .Params.tags }}
    <ul id="tags">
      {{ range . }}
        <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    </div>
    <div>
      {{ with .PrevInSection }}
        <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}
      {{ with .NextInSection }}
        <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}
    </div>
  </aside> -->
</body>
</html>
